<section id="footer" class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-box">
                <img src="/assets/images/seo.PNG" class="logo-name">
                <!-- <a class="navbar-brand" href="#" style="color: rgb(214, 193, 193); font-family: cursive;margin-left: 20px;margin-top: 20px;font-size: 25px;font-weight: 900;">The NeckLace Shop</a> -->
                <p>be affliate with us and earn upto 5 lac per month and get extra bonus by adding more employer like you</p>

            </div>
            <div class="col-md-4 footer-box">
                <p><b>CONTACT US</b></p>
                <P><i class="fa fa-map-marker"></i>  india , MP </P>
                <p><i class="fa fa-phone"></i>  +91 000255698</p>
               <p><i class="fa fa-envelope-o"></i> info.@happyinsurance.com</p>

           </div>
           <div class="col-md-4 footer-box">
               <p><b>SUBSCRIBE NEWSLETTER</b></p>
               <input type="email" class="form-control" placeholder="Your Email">
               <button type="button" class="btn btn-primary">Subscribe</button>


          </div>
        </div>
        <hr>
        <p class="copyright">All Right Reserved &copy;happyinsurance.com</p>
    </div>
</section>